article.post {
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
    overflow: hidden;
}

article.post>table {
    width: 100%;
}

article.post>table td{
    width: 33%;
}

article.post:last-child {
    border-style: solid;
    border-bottom: 1px;
}

input.action {
    background-color: #e6e6e6;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 120px;
    cursor: pointer;
}

input.action:hover {
    background-color: #d8d8d8;
}

div.buttons {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }